@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background: #856868;
      font-family: sans-serif;
      }
.list__img{
            width: 35px;
            height: 35px;
            }
.nav
{
  width: 300px;
}
.nav__link--inside:hover
{
  background: #f6f8fa;
}
.Nav__link
{
color: #303440;
display: block;
padding: 15px 0;
text-decoration: none;
}

.lista
{
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: white;
}

.List__item
{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.List__item--click
{
  cursor: pointer;
}
.List__button
{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}
.list__arrow
{
  margin-left: auto;
  height: 10%;
  width: 10%;
}
.list__show
{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}